<dialog #dialog >
  <section>
    <div class="logo select-none cursor-pointer"></div>
    <div class="close select-none cursor-pointer" (click)="closeDialog()"></div>
  </section>
  <nav>
    <a class="t-subtitle select-none" href="/start">Home</a>
    <a class="t-subtitle select-none" href="/about-us">Unser Team</a>
    <a class="t-subtitle select-none" href="/services">Leistungen</a>
    <a class="t-subtitle select-none" href="/projects">Projekte</a>
    <a class="t-subtitle select-none" href="/contact">Kontakt</a>
  </nav>
</dialog>
