@font-face {
  font-family: 'Graphik';
  src: url('Graphik-Black.woff2') format('woff2'),
  url('Graphik-Black.woff') format('woff'),
  url('Graphik-Black.ttf') format('truetype');
  font-weight: 100; /* Thin weight */
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url('Graphik-Black.woff2') format('woff2'),
  url('Graphik-Black.woff') format('woff'),
  url('Graphik-Black.ttf') format('truetype');
  font-weight: 300; /* Light weight */
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url('Graphik-Black.woff2') format('woff2'),
  url('Graphik-Black.woff') format('woff'),
  url('Graphik-Black.ttf') format('truetype');
  font-weight: 400; /* Regular weight */
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url('Graphik-Black.woff2') format('woff2'),
  url('Graphik-Black.woff') format('woff'),
  url('Graphik-Black.ttf') format('truetype');
  font-weight: 700; /* Bold weight */
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url('Graphik-Black.woff2') format('woff2'),
  url('Graphik-Black.woff') format('woff'),
  url('Graphik-Black.ttf') format('truetype');
  font-weight: 900; /* Black weight */
  font-style: normal;
}
