<footer>
  <div class="social-media-icons">
    <div class="icon linkedin"></div>
    <div class="icon instagram"></div>
    <div class="icon mail"></div>
  </div>

  <div class="links">
    <h4 class="t-header t-h4 mb-6 select-none">MMV Ingenieure</h4>
    <a class="t-text" href="/start">Startseite</a>
    <a class="t-text" href="/about-us">Unser Team</a>
    <a class="t-text" href="/services">Leistungen</a>
    <a class="t-text" href="/projects">Projekte</a>
    <a class="t-text" href="/contact">Kontakt </a>
  </div>

  <div class="links">
    <h4 class="t-header t-h4 mb-6 select-none">Legals</h4>
    <a class="t-text" href="/start">Impressum</a>
    <a class="t-text" href="/about-us">Datenschutz</a>
  </div>

  <div class="get-in-touch">
    <div class="location">
      <div class="location-icon"></div>
      <div class="t-text">Unter dem Birkenkopf 18, Stuttgart</div>
    </div>
    <div class="location">
      <div class="phone-icon"></div>
      <a class="t-text" href="tel:+4971169355749"> 0711 69355749</a>
    </div>
  </div>

  <button>
    <a class="t-button" href="tel:+4971169355749">
    Jetzt anrufen
    </a>
  </button>


  <div class="line"></div>

  <div class="t-smaller copyright">Copyright © Ingenieurbüro MMV 2024</div>
</footer>
